/* Общие стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px;
}

header {
    text-align: center;
}

nav {
    background-color: #292929;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #bb86fc;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

/* Стили для статей */
article {
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
}

article h2 {
    text-align: center;
    margin-top: 0;
    font-size: 2em;
    color: #bb86fc;
}

article p {
    font-size: 1em;
    color: white;
}

/* Стили для форм */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
}

form h2 {
    text-align: center;
    color: #bb86fc;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #292929;
    color: #e0e0e0;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #bb86fc;
    border: none;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

/* Стили для расписания */
.schedule-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #1f1f1f;
}

.schedule-table th,
.schedule-table td {
    padding: 10px;
    border: 1px solid #333;
    text-align: left;
}

.schedule-table th {
    background-color: #292929;
    color: #bb86fc;
}

/* Стили для футера */
footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 15px 0;
    position: relative;
    border-top: 1px solid #333;
}

footer a {
    color: #bb86fc;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}