<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админка Новостного Портала</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class ="admin"  data-page="admin">
    
    <header>
        <h1>Создание публикаций</h1>
    </header>
    <nav>
        <a href="home">Главная</a>
        <a href="calendar">Расписание</a>

        <a href="login">Авторизация</a>
    </nav>

   
    <div class="admin-panel">
        <main class="admin-main">
            <div id="postForm" class="admin-form">
                <label for="title" class="form-label">Заголовок:</label>
                <input type="text" id="title" name="title" >

                <label for="content" class="form-label">Текст поста:</label>
                <textarea id="content" name="content" rows="10" ></textarea>

                <button class="form-button" onclick="addContent()">Опубликовать</button>
            </div>
        </main>
        <div id="message" class="message"></div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>