<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Просмотр статьи</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Статьи</h1>
    </header>
    <nav>
        <a href="home">Главная</a>
    </nav>

    <main>
        <article>
            <h2>{{header}}</h2>
            <p>{{text}}</p>   
        </article>
    </main>

</body>
</html>